@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");

:root {
    --dribbble: #ed7fdf;
    --instagram: #e1306c;
    --telegram: #1da1f2;
    --linkedin: #0a66c2;
    --facebook: #4267b2;
    --behance: #3f72f2;

    --bg-green: #a4bdb7;
    --bg-white: #ededed;

    --cl-gray: gray;
    --cl-black: #000;
}

/* 
cách đặt tên biến: --ten-bien: gia-tri;
ví dụ : 
    --primary-color: #3498db;
    --font-size: 16px;
cách sử dụng:  
    selector {
        backgrond-color: var(--ten-bien);
    }
*/

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg-green);
}

.box {
    width: 350px;
    height: fit-content;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    background: var(--bg-white);
}

.content {
    margin: 15px 2px;
}

.image img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    margin-bottom: 5px;
}

.level {
    font-size: 10px;
    background-color: var(--bg-green);
    width: 50px;
    padding: 3px;
    border-radius: 5px;
    font-weight: bolder;
    letter-spacing: 1px;
    display: block;
    margin: 0px auto 10px;
}

.name {
    font-size: 24px;
    font-weight: bolder;
    letter-spacing: 1px;
}

.title {
    font-size: 13px;
    font-weight: bolder;
    color: var(--cl-gray);
    margin-top: -2px;
}

.discription {
    font-size: 12px;
    color: var(--cl-gray);
    margin: 10px 30px 20px;
}

.icons {
    margin: 0px 30px;
    display: flex;
    justify-content: space-around;
}

.icons a {
    border: none;
    font-size: 24px;
    color: var(--cl-black);
}
.icons a i {
    transition: 0.5s ease;
}
.icons a:hover i {
    transition: 0.5s ease;
}

.icons a:nth-child(1):hover i {
    color: var(--dribbble);
}
.icons a:nth-child(2):hover i {
    color: var(--instagram);
}
.icons a:nth-child(3):hover i {
    color: var(--telegram);
}
.icons a:nth-child(4):hover i {
    color: var(--linkedin);
}
.icons a:nth-child(5):hover i {
    color: var(--facebook);
}
.icons a:nth-child(6):hover i {
    color: var(--behance);
}

button {
    width: 130px;
    height: 40px;
    border-radius: 8px;
    font-weight: bolder;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 20px 30px 0px;
}

.buttons .message {
    background: #ededed;
    border: 2px solid var(--cl-black);
    transition: 0.5s;
}

.buttons .connect {
    background-color: var(--cl-black);
    color: #ededed;
    border: none;
    transition: 0.5s;
}

button.connect:hover,
button.message:hover {
    letter-spacing: 1px;
    transition: 0.5s;
}

button.message:hover {
    background: var(--bg-green);
}
